.none {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'notperfect-regular';
}
h1 {
  margin: 0;
  text-align: center;
  color: white;
}
a {
  text-decoration: none;
}
.container {
  width: 900px;
  min-height: calc(-130vh);
  margin: 0 auto;
  padding: 0 10px;
}
