.library__title {
  margin: 0;
  text-align: center;
  color: black;
  text-shadow: -2px -2px 15px #f6d542, 2px -2px 15px #f6d542, -2px 2px 15px #f6d542, 2px 2px 15px #f6d542;
}
.library__welcome p {
  position: relative;
  margin-top: 300px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-shadow: -2px -2px 15px #f6d542, 2px -2px 15px #f6d542, -2px 2px 15px #f6d542, 2px 2px 15px #f6d542;
  /*
			&::before	{
				content: "";
				position: absolute;
				bottom: -40px;
				left: 0px;
				width: 150px;
				height: 150px;
				background: url("../img/border2.png") 0 0 no-repeat;
				transform: rotate(-90deg);
			}
			*/
}
.library__welcome p::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  background: url("../img/border2.png") 0 0 no-repeat;
  transform: rotate(90deg);
}
.library__welcome p::first-letter {
  position: relative;
  margin-right: 10px;
  padding: 20px;
  font-size: 80px;
  text-shadow: none;
  text-shadow: -2px -2px 0px #daa520, 2px -2px 0px #daa520, -2px 2px 0px #daa520, 2px 2px 0px #daa520;
  color: #B31B1B;
  background-color: black;
  border: 20px solid black;
  float: left;
}
.library__welcome {
  margin: 0 auto;
  width: 600px;
}
.library {
  max-width: 100%;
  height: 100vh;
  background: url(../library.jpg) 0 0 no-repeat #000000;
  background-size: 100% 100%;
}
.library-wall {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/library/z.png) 0 0 no-repeat, url(../img/library/bg-red-2.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.library-picture,
.library-picture1,
.library-picture2,
.library-picture3 {
  position: absolute;
  top: 29%;
  left: 38%;
  width: 500px;
  height: 500px;
  background: url(../img/library/garret.jpg) 0 0 no-repeat;
  background-size: contain;
}
.library-border {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 600px;
  height: 600px;
  background: url(../img/library/border.png) 0 0 no-repeat;
  background-size: contain;
}
.library-wall1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/library/wall1.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
}
.library-wall2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/library/wall2.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
}
.library-wall3 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/library/wall5.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
}
